<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/index.css">
    <title>hashcode</title>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li>
                <a href="#">
                    <i class="material-icons">tag</i>
                </a>
                <span class="tooltip">HASHCODE</span>
            </li>
            <li>
                <a href="/">
                    <i class="material-icons">home</i>
                </a>
                <span class="tooltip">HOMEPAGE</span>
            </li>
            <li>
                <a href="/fizz">
                    <i class="material-icons">code</i>
                </a>
                <span class="tooltip">FIZZBUZZ</span>
            </li>
            <li>
                <a href="#">
                    <i class="material-icons">emoji_objects</i>
                </a>
                <span class="tooltip">CONTESTS</span>
            </li>
            <li>
                <a href="/visualizer">
                    <i class="material-icons">assessment</i>
                </a>
                <span class="tooltip">VISUALIZER</span>
            </li>
            <%if(user){%>
            <li>
                <a href="/profile">
                    <i class="material-icons">account_circle</i>
                </a>
                <span class="tooltip">PROFILE</span>
            </li>
            <li>
                <a href="/logout">
                    <i class="material-icons">logout</i>
                </a>
                <span class="tooltip">LOGOUT</span>
            </li>
            <%} else {%>
            <li>
                <a href="/google">
                    <i class="material-icons">login</i>
                </a>
                <span class="tooltip">LOGIN</span>
            </li>
            <%}%>
            <li>
                <a href="https://github.com/maskmanlucifer/hashcode">
                    <i class="material-icons">view_in_ar</i>
                </a>
                <span class="tooltip">SOURCE CODE</span>
            </li>
        </ul>
    </nav>
    <main class="main">
        <div class="filter_bar_contest">
            <span>CONTESTS</span>
        </div>
        <div class="card_list_contest">
            <span>MASHUP</span>
            <div class="instructions">
                <p>This format of contest is mainly for practicing problem in groups</p>
                <p>You can create public as well as private mashups</p>
                <p>In private mashups registration will be done through secret link</p>
                <p>Max number of problems in a mashup can be &les;= 10</p>
                <p>Each problem will have certain fixed point which will decrease with time</p>
                <p>Rank list will be generated on the basis of total score at that instance of time</p>
            </div>
            <button><a href="/contest/mashup">ENTER</a></button>
         </div>
         <div class="card_list_contest">
            <span>LOCKOUT</span>
            <div class="instructions">
                <p>This format of contest is mainly for 1 v/s 1 challenges</p>
                <p>You can create private as well as public lockout matches</p>
                <p>There will be only 2 participants in a lockout match</p>
                <p>The participant who will solve certain problem first will receive 100 point</p>
                <p>Other participant will receive 0 point for the same problem</p>
                <p>Rank list will be generated on the basis of total score at that instance of time</p>
                <p>Registartion for lockout will end 30 sec. before start time</p>
            </div>
            <button><a href="/contest/lockout">ENTER</a></button>
         </div>
         <div class="card_list_contest">
            <span>SPEEDRUN</span>
            <div class="instructions">
                <p>This format of contest is for improving speed for mainly (A,B,C) problems</p>
                <p>You can choose number of total problems and time duration for each problem</p>
                <p>Each problem will be added 20 sec. after ending of previous problem time</p>
                <p>You can choose level of problems (Easy[A], Medium[B,C], Hard[C,D])</p>
                <p>Registartion for speedrun will end 30 sec. before start time</p>
            </div>
            <button><a href="/contest/speedrun">ENTER</a></button>
         </div>
    </main>
    <script src="main.js"></script>
</body>
</html> 