<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/index.css">
    <title>hashcode</title>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li>
                <a href="#">
                    <i class="material-icons">tag</i>
                </a>
                <span class="tooltip">HASHCODE</span>
            </li>
            <li>
                <a href="/">
                    <i class="material-icons">home</i>
                </a>
                <span class="tooltip">HOMEPAGE</span>
            </li>
            <li>
                <a href="#">
                    <i class="material-icons">code</i>
                </a>
                <span class="tooltip">FIZZBUZZ</span>
            </li>
            <li>
                <a href="/contest">
                    <i class="material-icons">emoji_objects</i>
                </a>
                <span class="tooltip">CONTESTS</span>
            </li>
           
            <%if(user){%>
            <li>
                <a href="/profile">
                    <i class="material-icons">account_circle</i>
                </a>
                <span class="tooltip">PROFILE</span>
            </li>
            <li>
                <a href="/logout">
                    <i class="material-icons">logout</i>
                </a>
                <span class="tooltip">LOGOUT</span>
            </li>
            <%} else {%>
            <li>
                <a href="/google">
                    <i class="material-icons">login</i>
                </a>
                <span class="tooltip">LOGIN</span>
            </li>
            <%}%>
            <li>
                <a href="https://github.com/maskmanlucifer/hashcode">
                    <i class="material-icons">view_in_ar</i>
                </a>
                <span class="tooltip">SOURCE CODE</span>
            </li>
        </ul>
    </nav>
    <main class="main">
       <div class="fizz_buzz_filter_bar">
            <a href="#" class="active_fizz_buzz">FIZZ</a>
            <a href="/stl">STL</a>
            <a href="/buzz">BUZZ</a>
       </div>
       
       <div class="card_list_fizz">
          <span>Coding Platforms</span>
          <a href="https://codeforces.com/" target="_blank" rel="noopener noreferrer">Codeforces</a>
          <a href="https://www.codechef.com/" target="_blank" rel="noopener noreferrer">Codechef</a>
          <a href="https://atcoder.jp/" target="_blank" rel="noopener noreferrer">Atcoder</a>
       </div>

       <div class="card_list_fizz">
            <span>IDE's</span>
            <a href="https://www.sublimetext.com/3" target="_blank" rel="noopener noreferrer">Sublime-Text (Offline)</a>
            <a href="https://cpeditor.org/" target="_blank" rel="noopener noreferrer">CP Editor (Offline)</a>
            <a href="https://www.codechef.com/ide" target="_blank" rel="noopener noreferrer">Codechef (Online)</a>
       </div>
       
       <div class="card_list_fizz">
            <span>Helper Tools</span>
            <a href="https://oeis.org/" target="_blank" rel="noopener noreferrer">OEIS (Finding number patterns)</a>
            <a href="https://cfviz.netlify.app/" target="_blank" rel="noopener noreferrer">CF Viz (Growth tracker)</a>
            <a href="https://chrome.google.com/webstore/detail/cf-predictor/ocfloejijfhhkkdmheodbaanephbnfhn" target="_blank" rel="noopener noreferrer">CF predictor (Rating predictor)</a>
            <a href="https://visualgo.net/en" target="_blank" rel="noopener noreferrer">Visu Algo (Algorithm visualizer)</a>
       </div>

       <div class="card_list_fizz">
            <span>You Tube Channels</span>
            <a href="https://www.youtube.com/channel/UCBr_Fu6q9iHYQCh13jmpbrg" target="_blank" rel="noopener noreferrer">Errichto</a>
            <a href="https://www.youtube.com/channel/UCpvS3EykHW--l0ogUhMEjEw" target="_blank" rel="noopener noreferrer">GalenCoin</a>
            <a href="https://www.youtube.com/channel/UCXbCohpE9IoVQUD2Ifg1d1g" target="_blank" rel="noopener noreferrer">SecondThread</a>
            <a href="https://www.youtube.com/channel/UCKuDLsO0Wwef53qdHPjbU2Q" target="_blank" rel="noopener noreferrer">WilliamLin</a>
            <a href="https://www.youtube.com/c/ecnerwala" target="_blank" rel="noopener noreferrer">Ecnerwala</a>
            <a href="https://www.youtube.com/channel/UCGS5ZzcSAymQbWZvNoKOFhQ/featured" target="_blank" rel="noopener noreferrer">Demoralizer</a>
       </div>

       <div class="card_list_fizz">
            <span>Coding Competitions</span>
            <a href="https://icpc.global/" target="_blank" rel="noopener noreferrer">ACM ICPC</a>
            <a href="https://www.facebook.com/hackercup/" target="_blank" rel="noopener noreferrer">Facebook Hacker Cup</a>
            <a href="https://codingcompetitions.withgoogle.com/codejam" target="_blank" rel="noopener noreferrer">Google Code Jam</a>
            <a href="https://codingcompetitions.withgoogle.com/hashcode/" target="_blank" rel="noopener noreferrer">Google Hashcode</a>
            <a href="https://tco20.topcoder.com/" target="_blank" rel="noopener noreferrer">Topcoder Open</a>
       </div>

       <div class="card_list_fizz">
            <span>Useful Links</span>
            <a href="https://cp-algorithms.com/" target="_blank" rel="noopener noreferrer">CP Algorithm (Site)</a>
            <a href="https://codeforces.com/blog/entry/23054" target="_blank" rel="noopener noreferrer">Awesome CP (Blog)</a>
            <a href="https://codeforces.com/blog/entry/57282" target="_blank" rel="noopener noreferrer">Algo tutorials (Blog)</a>
       </div>
    </main>
</body>
</html> 