<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/index.css">
    <title>hashcode</title>
</head>
<body> 
    <nav class="navbar">
        <ul class="navbar-nav">
            <li>
                <a href="#">
                    <i class="material-icons">tag</i>
                </a>
                <span class="tooltip">HASHCODE</span>
            </li>
            <li>
                <a href="/">
                    <i class="material-icons">home</i>
                </a>
                <span class="tooltip">HOMEPAGE</span>
            </li>
            <li>
                <a href="/fizz">
                    <i class="material-icons">code</i>
                </a>
                <span class="tooltip">FIZZBUZZ</span>
            </li>
            <li>
                <a href="/contest">
                    <i class="material-icons">emoji_objects</i>
                </a>
                <span class="tooltip">CONTESTS</span>
            </li>
            <li>
                <a href="/visualizer">
                    <i class="material-icons">assessment</i>
                </a>
                <span class="tooltip">VISUALIZER</span>
            </li>
            <%if(user){%>
            <li>
                <a href="/profile">
                    <i class="material-icons">account_circle</i>
                </a>
                <span class="tooltip">PROFILE</span>
            </li>
            <li>
                <a href="/logout">
                    <i class="material-icons">logout</i>
                </a>
                <span class="tooltip">LOGOUT</span>
            </li>
            <%} else {%>
            <li>
                <a href="/google">
                    <i class="material-icons">login</i>
                </a>
                <span class="tooltip">LOGIN</span>
            </li>
            <%}%>
            
            <li>
                <a href="https://github.com/maskmanlucifer/hashcode">
                    <i class="material-icons">view_in_ar</i>
                </a>
                <span class="tooltip">SOURCE CODE</span>
            </li>
        </ul>
    </nav>
    <main class="main">
        <div class="card_list_form">
            <span>Create Mashup</span>
            <form>
                
                <label for="duration">Duration of contest in minutes</label>
                <input type="number" name="duration" required/>
                
                <label for="min_level">Minimum rating level of problem</label>
                <input type="number" name="min_level" required min="800" max="3500"/>

                <label for="min_level">Maximum rating level of problem</label>
                <input type="number" name="max_level" required min="800" max="3500"/>
                
                <label for="no_of_problems">Number of Problems</label>
                <input type="number" name="no_of_problems" required max="7"/>
                
                <label for="start_time">Start time</label>
                <input type="datetime-local" name="start_time" required />

                <label for="visibility">Type of contest</label>
                <select name="visibility" required>
                    <option value="PUBLIC">PUBLIC</option>
                    <option value="PRIVATE">PRIVATE</option>
                 </select>
                <button>CREATE</button>
                <p class="contestError"></p>
            </form>
        </div> 
        <div class="link"></div>
        <div class="link_info"></div>
    </main>
    <script>
        const form = document.querySelector('form');
        let link=document.querySelector('.link');
        let link_info=document.querySelector('.link_info');
        let contestError=document.querySelector('.contestError');

        $('button').click(async (e) => {
            e.preventDefault();

            contestError.textContent='';
            link.innerHTML = '';
            link_info.innerHTML = '';

            let duration = form.duration.value;
            let min_level = form.min_level.value;
            let max_level = form.max_level.value;
            let starttime=form.start_time.valueAsNumber;
            let no_of_problems=form.no_of_problems.value;
            let visibility=form.visibility.value;

            let secondsSinceEpoch = Date.now();
            let date = new Date();
            let offset = date.getTimezoneOffset() * 60*1000;
            starttime += offset;

            
            if((!duration) || (!min_level) || (!max_level) || (!starttime) || (!no_of_problems)) 
            {
                contestError.textContent='Some values are not entered';
            }
            else if(no_of_problems>10)
            {
                contestError.textContent='Number of problems should be less than  11';
            }
            else if(min_level <800 || min_level>3500) 
            {
                contestError.textContent='Min level of problem should be in between 800 and 3500';
            }
            else if(max_level <800 || max_level>3500) 
            {
                contestError.textContent='Max level of problem should be in between 800 and 3500';
            }
            else if(secondsSinceEpoch>starttime)
            {
                contestError.textContent='You can not set contest in past';
            }
            else 
            {
                duration*=60;
                starttime = Math.round(starttime/1000.0);

                try 
                { 
                    
                    const res = await fetch('/contest/mashup/create', { 
                        method: 'POST', 
                        body: JSON.stringify({ duration,min_level,max_level,starttime,no_of_problems,visibility}),
                        headers: {'Content-Type': 'application/json'}
                    });
                    
                    const data = await res.json(); 

                    if (data.contestError) 
                    { 
                        contestError.textContent=data.contestError;
                    }

                    if(data.info)
                    {
                        link_info.innerHTML = `<p>${data.info}</p>`;
                    }

                    if(data.link)
                    {
                        link.innerHTML = `<a href="${data.link}">Link</a>`;
                    }
                }
                catch (err) 
                {
                    console.log(err);
                }
            }
        });
    </script>
</body>
</html> 