<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/index.css">
    <title>hashcode</title>
</head>
<body> 
    <nav class="navbar">
        <ul class="navbar-nav">
            <li>
                <a href="#">
                    <i class="material-icons">tag</i>
                </a>
                <span class="tooltip">HASHCODE</span>
            </li>
            <li>
                <a href="/">
                    <i class="material-icons">home</i>
                </a>
                <span class="tooltip">HOMEPAGE</span>
            </li>
            <li>
                <a href="/fizz">
                    <i class="material-icons">code</i>
                </a>
                <span class="tooltip">FIZZBUZZ</span>
            </li>
            <li>
                <a href="/contest">
                    <i class="material-icons">emoji_objects</i>
                </a>
                <span class="tooltip">CONTESTS</span>
            </li>
            <li>
                <a href="/visualizer">
                    <i class="material-icons">assessment</i>
                </a>
                <span class="tooltip">VISUALIZER</span>
            </li>
            <%if(user){%>
            <li>
                <a href="#">
                    <i class="material-icons">account_circle</i>
                </a>
                <span class="tooltip">PROFILE</span>
            </li>
            <li>
                <a href="/logout">
                    <i class="material-icons">logout</i>
                </a>
                <span class="tooltip">LOGOUT</span>
            </li>
            <%} else {%>
            <li>
                <a href="/google">
                    <i class="material-icons">login</i>
                </a>
                <span class="tooltip">LOGIN</span>
            </li>
            <%}%>
            
            <li>
                <a href="https://github.com/maskmanlucifer/hashcode">
                    <i class="material-icons">view_in_ar</i>
                </a>
                <span class="tooltip">SOURCE CODE</span>
            </li>
        </ul>
    </nav>
    <main class="main">
        <div class="card_list_form">
            <span>Create Speedrun</span>
            <div class="row">
                <label for="difficulty">
                    Difficulty level of contest : 
                </label>
                <select name="visibility" id="visibility" required>
                   <option value="easy">Easy (800 - 1400)</option>
                   <option value="medium">Medium (1500 - 1900)</option>
                   <option value="hard">Hard (2000 - 2300)</option>
                </select>
            </div>
            <div class="row">
                <label for="no_of_problems">
                    Number of Problems : 
                </label>
                <input type="number" id="no_of_problems" required max="7">
            </div>

            <div class="row">
                <label for="start_date">
                    Start time : 
                </label>
                <input type="date" id="start_date" required>
                <input type="time" id="start_time" required>
            </div>

            <div class="row">
                <label for="visibility">
                    Type of contest : 
                </label>
                <select name="visibility" id="visibility" required>
                   <option value="private">Private</option>
                   <option value="public">Public</option>
                </select>
            </div>

            <div class="row">
                <button>Create</button>
            </div>
        </div>
        <div class="link"></div>
        <div class="link_info"></div>
    </main>
    <script src="/js/home.js"></script>
</body>
</html> 