<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="index.css">
    <title>hashcode</title>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li>
                <a href="#">
                    <i class="material-icons">tag</i>
                </a>
                <span class="tooltip">hashcode</span>
            </li>
            <li>
                <a href="home.ejs">
                    <i class="material-icons">home</i>
                </a>
                <span class="tooltip">homepage</span>
            </li>
            <li>
                <a href="snippet.ejs">
                    <i class="material-icons">code</i>
                </a>
                <span class="tooltip">snippets</span>
            </li>
            <li>
                <a href="contest.ejs">
                    <i class="material-icons">emoji_objects</i>
                </a>
                <span class="tooltip">contests</span>
            </li>
            <li>
                <a href="visualizer.ejs">
                    <i class="material-icons">assessment</i>
                </a>
                <span class="tooltip">visualizer</span>
            </li>
            <%if(1){%>
            <li>
                <a href="profile.ejs">
                    <i class="material-icons">account_circle</i>
                </a>
                <span class="tooltip">profile</span>
            </li>
            <%} else {%>
            <li>
                <a href="#">
                    <i class="material-icons">login</i>
                </a>
                <span class="tooltip">login</span>
            </li>
            <%}%>
            <li>
                <a href="home.ejs">
                    <i class="material-icons">logout</i>
                </a>
                <span class="tooltip">logout</span>
            </li>
            <li>
                <a href="#">
                    <i class="material-icons">view_in_ar</i>
                </a>
                <span class="tooltip">source code</span>
            </li>
        </ul>
    </nav>
    <main class="main">
       
    </main>
</body>
</html> 