<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/index.css">
    <title>hashcode</title>
</head>
<body> 
    <nav class="navbar">
        <ul class="navbar-nav">
            <li>
                <a href="#">
                    <i class="material-icons">tag</i>
                </a>
                <span class="tooltip">HASHCODE</span>
            </li>
            <li>
                <a href="/">
                    <i class="material-icons">home</i>
                </a>
                <span class="tooltip">HOMEPAGE</span>
            </li>
            <li>
                <a href="/fizz">
                    <i class="material-icons">code</i>
                </a>
                <span class="tooltip">FIZZBUZZ</span>
            </li>
            <li>
                <a href="/contest">
                    <i class="material-icons">emoji_objects</i>
                </a>
                <span class="tooltip">CONTESTS</span>
            </li>
            <li>
                <a href="/visualizer">
                    <i class="material-icons">assessment</i>
                </a>
                <span class="tooltip">VISUALIZER</span>
            </li>
            <%if(user){%>
            <li>
                <a href="/profile">
                    <i class="material-icons">account_circle</i>
                </a>
                <span class="tooltip">PROFILE</span>
            </li>
            <li>
                <a href="/logout">
                    <i class="material-icons">logout</i>
                </a>
                <span class="tooltip">LOGOUT</span>
            </li>
            <%} else {%>
            <li>
                <a href="/google">
                    <i class="material-icons">login</i>
                </a>
                <span class="tooltip">LOGIN</span>
            </li>
            <%}%>
            
            <li>
                <a href="https://github.com/maskmanlucifer/hashcode">
                    <i class="material-icons">view_in_ar</i>
                </a>
                <span class="tooltip">SOURCE CODE</span>
            </li>
        </ul>
    </nav>
    <main class="main">
        <div class="filter_bar_contest">
            <span>MASHUP</span>
        </div>
        <div class="create_button"><a href="/contest/speedrun/create"><i class="material-icons">add</i><span>CREATE</span></a></div>
        <div class="card_list_mashup">
            <span>ONGOING</span>
            <div class="contest_box">
                <span>Mashup # 2</span>
                <div class="info_contest">
                   <p>Start time :</p>
                   <p>Duration : </p>
                </div>
                <div class="info_contest">
                    <p>Difficulty level :</p>
                    <p>Problem count : </p>
                 </div>
                <a href="">ENTER</a>
            </div>
            <div class="contest_box">
                <span>Mashup # 2</span>
                <div class="info_contest">
                   <p>Start time :</p>
                   <p>Duration : </p>
                </div>
                <div class="info_contest">
                    <p>Difficulty level :</p>
                    <p>Problem count : </p>
                 </div>
                <a href="">ENTER</a>
            </div>
        </div>
        <div class="card_list_mashup">
            <span>UPCOMING</span>
            <div class="contest_box">
                <span>Mashup # 2</span>
                <div class="info_contest">
                   <p>Start time :</p>
                   <p>Duration : </p>
                </div>
                <div class="info_contest">
                    <p>Difficulty level :</p>
                    <p>Problem count : </p>
                 </div>
                <a href="">ENTER</a>
            </div>
        </div>
        <div class="card_list_mashup">
            <span>PAST</span>
            <div class="contest_box">
                <span>Mashup # 2</span>
                <div class="info_contest">
                   <p>Start time :</p>
                   <p>Duration : </p>
                </div>
                <div class="info_contest">
                    <p>Difficulty level :</p>
                    <p>Problem count : </p>
                 </div>
                <a href="">ENTER</a>
            </div>
        </div>
    </main>
    <script src="/js/home.js"></script>
</body>
</html> 