<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/index.css">
    <title>hashcode</title>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li>
                <a href="#">
                    <i class="material-icons">tag</i>
                </a>
                <span class="tooltip">HASHCODE</span>
            </li>
            <li>
                <a href="/">
                    <i class="material-icons">home</i>
                </a>
                <span class="tooltip">HOMEPAGE</span>
            </li>
            <li>
                <a href="#">
                    <i class="material-icons">code</i>
                </a>
                <span class="tooltip">FIZZBUZZ</span>
            </li>
            <li>
                <a href="/contest">
                    <i class="material-icons">emoji_objects</i>
                </a>
                <span class="tooltip">CONTESTS</span>
            </li>
            
            <%if(user){%>
            <li>
                <a href="/profile">
                    <i class="material-icons">account_circle</i>
                </a>
                <span class="tooltip">PROFILE</span>
            </li>
            <li>
                <a href="/logout">
                    <i class="material-icons">logout</i>
                </a>
                <span class="tooltip">LOGOUT</span>
            </li>
            <%} else {%>
            <li>
                <a href="/google">
                    <i class="material-icons">login</i>
                </a>
                <span class="tooltip">LOGIN</span>
            </li>
            <%}%>
            
            <li>
                <a href="https://github.com/maskmanlucifer/hashcode">
                    <i class="material-icons">view_in_ar</i>
                </a>
                <span class="tooltip">SOURCE CODE</span>
            </li>
        </ul>
    </nav>
    <main class="main">
        <div class="fizz_buzz_filter_bar">
            <a href="/fizz" >FIZZ</a>
            <a href="#" class="active_fizz_buzz">STL</a>
            <a href="/buzz">BUZZ</a>
        </div>

       <div class="card_list_stl">
        <span class="heading">Ordered Map</span>
        <div class="card_list_stl_content">
            <div class="stl_function">
                <span class="highlight">clear()</span><span>Erases all key-value pairs of map</span>
            </div>

            <div class="stl_function">
                <span class="highlight">count(x)</span><span>Checks if key x exists in map</span>
            </div>

            <div class="stl_function">
                <span class="highlight">find(x)</span><span>If find, returns pointer to key x</span>
            </div>

            <div class="stl_function">
                <span class="highlight">size()</span><span>Returns size of map</span>
            </div>
        </div>
       </div>

       <div class="card_list_stl">
        <span class="heading">Ordered Set</span>
        <div class="card_list_stl_content">
            <div class="stl_function">
                <span class="highlight">begin()</span><span>Returns pointer to first element</span>
            </div>

            <div class="stl_function">
                <span class="highlight">rbegin()</span><span>Returns pointer to last element</span>
            </div>

            <div class="stl_function">
                <span class="highlight">clear()</span><span>Erases all elements from set</span>
            </div>

            <div class="stl_function">
                <span class="highlight">count(x)</span><span>Checks if x exists in set</span>
            </div>

            <div class="stl_function">
                <span class="highlight">size()</span><span>Returns size of set</span>
            </div>

            <div class="stl_function">
                <span class="highlight">insert(x)</span><span>Inserts element x in set</span>
            </div>

            <div class="stl_function">
                <span class="highlight">find(x)</span><span>If exist, returns pointer to element x</span>
            </div>

            <div class="stl_function">
                <span class="highlight">erase(x)</span><span>Erases element x, if x is value</span>
            </div>
            
            <div class="stl_function">
                <span class="highlight">erase(x)</span><span>Erases element at address x, if x is address</span>
            </div>

            <div class="stl_function">
                <span class="highlight">st.lower_bound(x)</span><span>Returns pointer to element >= x</span>
            </div>

            <div class="stl_function">
                <span class="highlight">st.upper_bound(x)</span><span>Returns pointer to element > x</span>
            </div>
        </div>
       </div>

       <div class="card_list_stl">
        <span class="heading">Queue</span>
        <div class="card_list_stl_content">
            <div class="stl_function">
                <span class="highlight">back()</span><span>Reference to last element</span>
            </div>

            <div class="stl_function">
                <span class="highlight">empty()</span><span>Checks if queue is empty</span>
            </div>

            <div class="stl_function">
                <span class="highlight">front()</span><span>Reference to first element</span>
            </div>

            <div class="stl_function">
                <span class="highlight">push(x)</span><span>Pushes x at the back of queue</span>
            </div>

            <div class="stl_function">
                <span class="highlight">pop()</span><span>Pops element from back of queue</span>
            </div>

            <div class="stl_function">
                <span class="highlight">size()</span><span>Returns size of queue</span>
            </div>

        </div>
       </div>

       <div class="card_list_stl">
        <span class="heading">Stack</span>
        <div class="card_list_stl_content">
            <div class="stl_function">
                <span class="highlight">push(x)</span><span>Push x at the top of stack</span>
            </div>

            <div class="stl_function">
                <span class="highlight">pop()</span><span>Pop element from top of x</span>
            </div>

            <div class="stl_function">
                <span class="highlight">top()</span><span>Reference to element at top of stack</span>
            </div>

            <div class="stl_function">
                <span class="highlight">size()</span><span>Returns size of stack</span>
            </div>

            <div class="stl_function">
                <span class="highlight">empty()</span><span>Checks if stack is empty</span>
            </div>

        </div>
       </div>

       <div class="card_list_stl">
        <span class="heading">Mashup</span>
        <div class="card_list_stl_content">
            <div class="stl_function">
                <span class="highlight">isalpha(c)</span><span>Checks if character c is alphabet</span>
            </div>

            <div class="stl_function">
                <span class="highlight">isdigit(c)</span><span>Checks if character c is digit (0-9)</span>
            </div>

            <div class="stl_function">
                <span class="highlight">__gcd(x,y)</span><span>Returns GCD of x and y</span>
            </div>

            <div class="stl_function">
                <span class="highlight">__builtin_popcount(x)</span><span>Returns number of set bits in unsigned int x</span>
            </div>

            <div class="stl_function">
                <span class="highlight">min({x1,x2,..})</span><span>Returns min among x1,x2.. </span>
            </div>

            <div class="stl_function">
                <span class="highlight">max_element(v.begin(),v.end())</span><span>Pointer to max element in vector V</span>
            </div>

        </div>
       </div>

       <div class="card_list_stl">
        <span class="heading">Vector</span>
        <div class="card_list_stl_content">
            <div class="stl_function">
            <span class="highlight">push_back(x)</span><span>Pushes element x at the end of vector</span>
            </div>

            <div class="stl_function">
            <span class="highlight">pop_back()</span><span>Pops element from the end of vector</span>
            </div>

            <div class="stl_function">
                <span class="highlight">size()</span><span>Returns size of vector</span>
            </div>

            <div class="stl_function">
                <span class="highlight">back()</span><span>Returns reference to vector's last element</span>
            </div>

            <div class="stl_function">
                <span class="highlight">lower_bound(v.begin(),v.end(),x)</span><span>Returns pointer to the element >=x</span>
            </div>

            <div class="stl_function">
                <span class="highlight">upper_bound(v.begin(),v.end(),x)</span><span>Returns pointer to the element >x</span>
            </div>

            <div class="stl_function">
                <span class="highlight">binary_search(v.begin(),v.end(),x)</span><span>Check if x exist in V (sorted)</span>
            </div>

            <div class="stl_function">
                <span class="highlight">reverse(v.begin(),v.end())</span><span>Reverses vector V</span>
            </div>

            <div class="stl_function">
                <span class="highlight">sort(v.begin(),v.end())</span><span>Sort's vector V</span>
            </div>
        </div>
       </div>
    </main>
</body>
</html> 