<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <title>hashcode</title>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li>
                <a href="#" id="theme">
                    <i class="material-icons theme-icon" id="darkIcon" >light_mode</i>
                    <i class="material-icons theme-icon" id="lightIcon" >dark_mode</i>
                </a>
                <span class="tooltip">hashcode</span>
            </li>
            <li>
                <a href="./home">
                    <i class="material-icons">home</i>
                </a>
                <span class="tooltip">homepage</span>
            </li>
            <li>
                <a href="./fizzbuzz">
                    <i class="material-icons">code</i>
                </a>
                <span class="tooltip">fizzbuzz</span>
            </li>
            <li>
                <a href="./contest">
                    <i class="material-icons">emoji_objects</i>
                </a>
                <span class="tooltip">contests</span>
            </li>
            <li>
                <a href="./visualizer">
                    <i class="material-icons">assessment</i>
                </a>
                <span class="tooltip">visualizer</span>
            </li>
            <%if(1){%>
            <li>
                <a href="./profile">
                    <i class="material-icons">account_circle</i>
                </a>
                <span class="tooltip">profile</span>
            </li>
            <%} else {%>
            <li>
                <a href="#">
                    <i class="material-icons">login</i>
                </a>
                <span class="tooltip">login</span>
            </li>
            <%}%>
            <li>
                <a href="./home">
                    <i class="material-icons">logout</i>
                </a>
                <span class="tooltip">logout</span>
            </li>
            <li>
                <a href="#">
                    <i class="material-icons">view_in_ar</i>
                </a>
                <span class="tooltip">source code</span>
            </li>
        </ul>
    </nav>
    <main class="main">
        <!-- <canvas id="myChart"></canvas> -->
        <div class="filter_bar">
            <!-- all gerenal cards -->
            <span id="fizz" class="active">LEVEL</span>
            <span id="stl">CONTEST</span>
        </div>
        <div class="select_filter">
            <select name="" id="">
                <option value="all">ALL</option>
                <option value="newbie">NEWBIE</option>
                <option value="pupil">PUPIL</option>
                <option value="specialist">SPECIALIST</option>
                <option value="expert">EXPERT</option>
                <option value="cm">CANDIDATE MASTER</option>
                <option value="master">MASTER</option>
                <option value="im">INTERNATIONAL MASTER</option>
                <option value="gm">GRANDMASTER</option>
                <option value="igm">INTERNATIONAL GRANDMASTER</option>
                <option value="lgm">LEGENDARY GRANDMASTER</option>
            </select>
            <button>GO</button>
        </div>
        <div class="chart_box">
            <canvas id="myChart1"></canvas>
        </div>

        <div class="chart_box">
            <canvas id="myChart2"></canvas>
        </div>

        <div class="chart_box">
            <canvas id="myChart3"></canvas>
        </div>
    </main>
    <script src="/js/visualizer.js"></script>
</body>
</html> 