 /* common components among all pages */
 :root {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --extra: #fb923c;
 }
  
  body {
    color: var(--text-primary);
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
  }

  main {
    min-height: 100vh;
    margin-left: 5rem;
    padding: 1rem;
  }

  /* common components among all pages */
  
  /* --------------------------------------------------------- */

  /* open > 101 adding css to side scroll bar and number input arrow*/

  body::-webkit-scrollbar {
    width: 0.50rem;
  }
  
  body::-webkit-scrollbar-track {
    background: var(--bg-secondary);
  }
  
  body::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: var(--text-primary);
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* close < 101 adding css to side scroll bar and number input arrow*/

  /* --------------------------------------------------------- */

  /* open > 102 nav bar general styling */

  .navbar {
    position: fixed;
    background-color: var(--bg-secondary);
    top: 0;
    width: 5rem;
    height: 100vh;
    
  }
  .navbar ul li {
      position: relative;
  }
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center;
  }

  .navbar ul li a {
      text-decoration: none;
      color: var(--text-secondary);
      padding: 12px;
      padding-top: 21px;
      border-radius: 7px; 
  }

  .navbar ul li a:hover {
    background-color: var(--bg-primary);
    color: var(--extra);
  }
  
  /* close < 102 nav bar general styling */

  /* --------------------------------------------------------- */


  /* open > 103 homepage styles */
  
  .banner {
    margin: auto;
    margin-top: 0.50rem;
    width: 70%;
    height: 400px;
    background-color: var(--bg-secondary);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
  }

  .banner span {
    font-size: 4rem;
    font-weight: bolder;
  }

  #site-name {
    font-family: 'Roboto Slab', serif;
    color: var(--bg-secondary);
    background-color: var(--text-primary);
    padding: 8px;
    border-radius: 1rem;
  }

  .site_info {
    margin: auto;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    width: 70%;
    height: 6rem;
    border-radius: 1rem;
    font-size: 1.3rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }

  .site_info p {
     margin: 1.5rem;
     padding: 1rem;
  }
  @media screen and (max-width: 850px) {
    .banner span {
      font-size: 3rem;
    }
    .site_info {
      font-size: 1.1rem;
    }
  }
  /* close < 103 homepage styles */

  /* --------------------------------------------------------- */

  /* open > 104 tooltip styling */
  .navbar ul li .tooltip {
      position: absolute;
      height: 3rem;
      width: 6.5rem;
      left: 4.1rem;
      top: 0;
      transform: translateY(-50%);
      line-height: 50px;
      text-align: center;
      border-radius: 6px;
      transition: 0s;
      opacity: 0;
      pointer-events: none;
      font-size: 12px;
      font-weight: 600;
  }

  .navbar ul li .tooltip {
      display: block;
  }

  .navbar ul li:hover .tooltip {
      transition: 0.3s;
      opacity: 1;
      top: 50%;
      background-color: var(--bg-secondary);
      color: var(--text-primary);
  }

  /* close < 104 tooltip styling */
  
  /* --------------------------------------------------------- */
  
  /* open > 105  fizz_buzz filter_bar */
   
  .fizz_buzz_filter_bar {
    width: 70%;
    height: 60px;
    background-color: var(--bg-secondary);
    margin: auto;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
  }

  .fizz_buzz_filter_bar a { 
    text-decoration: none;
    color: var(--text-primary);
  }
  
  .fizz_buzz_filter_bar a:hover { 
    cursor: pointer;
  }
  
  .active_fizz_buzz {
    padding : 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: var(--bg-primary);
  }

  /* closse < 105  fizz_buzz filter_bar */
  
  /* --------------------------------------------------------- */

  /* open > 106  snippet card_list_general */
  
  .card_list_fizz {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    width: 70%;
    border-radius: 9px;
    align-items: center;
    justify-content: space-evenly;
  }
  .card_list_fizz span {
    width: 98%;
    text-align: center;
    font-size: 1.6rem;
    padding: 4px;
    border-bottom: 2px solid var(--text-secondary);
    color: var(--text-secondary);
  }
  
  .card_list_fizz a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--text-primary);
    margin: .75rem;
    border-radius: 7px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .card_list_fizz a:hover {
    color: var(--extra);
  }
  .card_list_fizz a:last-child {
    margin-bottom: 1rem;
  }
  
  
  /* close < 106  snippet card_list_general */
  
  /* --------------------------------------------------------- */

  /* open > 108  card_list_buzz */
  
  .card_list_buzz {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    width: 70%;
    border-radius: 9px;
  
  }

  .card_list_buzz p{
    font-size: 1.1rem;
    padding: 1rem;
    color: var(--text-primary);
  }

  /* closed < 108  snippet card_list_buzz */
  
  /* --------------------------------------------------------- */

  /* open > 109  snippet card_list_stl */

  .card_list_stl {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    width: 70%;
    border-radius: 9px;
  }

  .card_list_stl .heading{
    font-size: 1.8rem;
    padding: 3px;
    border-bottom: 2px solid var(--text-secondary);
    display: block;
    text-align: center;
    color: var(--text-secondary);
  }

  .card_list_stl_content {
    margin: auto;
    padding-bottom: 2rem;
    width: 90%;
  }

  .card_list_stl_content .stl_function {
    font-size: 1rem;
    width: 99%;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: var(--bg-primary);
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin-top: 8px;
    padding:5px;
    color: var(--text-primary);
  }

  .card_list_stl_content .stl_function .highlight {
    background-color: var(--bg-secondary);
    padding: 4px;
    border-radius: 8px;
    padding-left: 6px;
    padding-right: 6px;
    color: var(--text-primary);

  }

  .card_list_stl_content .stl_function .highlight:hover {
    color: var(--extra);
    cursor: pointer;
  }
   
  .card_list_stl_content span:last-child {
    padding-right: 3px;
  }

  /* closed < 109  snippet card_list_stl */

  /* --------------------------------------------------------- */


  /* open > 110 visualizer page */

  .filter_bar_visualizer {
    width: 70%;
    height: 55px;
    background-color: var(--bg-secondary);
    margin: auto;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
  }

  .filter_bar_visualizer span {
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--bg-primary);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
    color: var(--extra);
  }

  .card_list_visualizer {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    width: 70%;
    border-radius: 9px;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .card_list_visualizer span {
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    border-bottom: 2px solid var(--text-secondary);
    color: var(--text-secondary);

  }

  .card_list_visualizer input {
    margin: auto;
    margin-top: 1rem;
    width: 60%;
    height: 2rem;  
    padding: 1px;
    padding-left: 14px;
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    font-size: .90rem;
    border-radius: 15px;
    border: 2px solid var(--text-primary);
  }

  .card_list_visualizer .info {
    color: var(--text-secondary);
    padding: 8px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 2px solid var(--extra);
    text-align: center;
    font-size: 1.1rem;
  }
  
  .card_list_visualizer a {
    text-decoration: none;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 1rem;
    width: 6rem;
    padding: 2px;
    border-radius: 12px;
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    font-size: 1.1rem;
    border: 2px solid var(--extra);
  }

  .card_list_visualizer a:hover {
    cursor: pointer;
  }

  input:focus,select:focus {
    outline: none;
  }

  .contestError {
    display: block;
    text-align: center;
    color: var(--extra);
    margin: auto;
    margin-top: 4px;
    margin-bottom: 14px;
  }
  
  /* close < 110 visualizer page */
  
  /* --------------------------------------------------------- */

  /* open > 111 visualizer/level page chart box*/
   
  .chart_box {
    width: 80%;
    margin:auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--bg-secondary);
    border: 2px solid var(--bg-secondary);
    padding: 6px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chart_box a {
    text-decoration: none;
    color: var(--text-primary);
    font-size: .90rem;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: var(--bg-primary);
    border-radius: 17px;
    margin-bottom: 1.5rem;
    margin-top: 6px;
  }
  .chart_box a:hover {
    color: var(--extra);
    cursor: pointer;
  }
  
  /* closed < 111 visualizer/level page chart box*/

  /* --------------------------------------------------------- */

  /* open > 112 contest_visualizer page */

  .filter_bar_contest_visualizer {
    width: 70%;
    height: 50px;
    background-color: var(--bg-secondary);
    margin: auto;
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--text-secondary);
    font-size: 1.2rem;
    
  }
  .filter_bar_contest_visualizer a { 
    text-decoration: none;
    color: var(--text-primary);
    background-color: var(--bg-primary);
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 16px;
  }
  .filter_bar_contest_visualizer a:hover { 
    cursor: pointer;
    color: var(--extra);
  }

  /* closed < 112 contest_visualizer page */
  
  /* --------------------------------------------------------- */

  /* open > 113 contest page */

  .filter_bar_contest {
    width: 70%;
    height: 60px;
    background-color: var(--bg-secondary);
    margin: auto;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--text-secondary);
    
  }

  .filter_bar_contest span { 
    padding : 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
    background-color: var(--bg-primary);
    color: var(--extra);
    font-size: 1.5rem;
  }
  
  .card_list_contest {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    width: 70%;
    border-radius: 9px;
    align-items: center;
    justify-content: space-evenly;
  }
  .card_list_contest span {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    border-bottom: 2px solid var(--text-secondary);
    color: var(--text-secondary);
  }
  
  .card_list_contest .instructions {
    color: var(--text-secondary);
    padding: 8px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 2px solid var(--extra);
    text-align: center;
    font-size: 1.1rem;
  }
  .card_list_contest button {
    margin-top: 1rem;
    height: 2.2rem;
    margin-bottom: 1rem;
    width: 7rem;
    padding: 2px;
    border-radius: 12px;
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    font-size: 1.2rem;
    border: 2px solid var(--extra);
  }
  .card_list_contest button a{
    text-decoration: none;
    color: var(--text-secondary);
  }
  .card_list_contest button:hover {
    cursor: pointer;
  }
  /* closed < 113 contest page */

  /* --------------------------------------------------------- */

  /* open > 114 mashup page */

     .create_button a {
       margin: auto;
       width: 15ch;
       display: flex;
       flex-direction: row;
       margin-top: 1rem;
       height: 50px;
       background-color: var(--bg-secondary);
       align-items: center;
       justify-content: space-evenly;
       border-radius: 38px;
       text-decoration: none;
       color: var(--text-primary);
     }

     .create_button i {
       font-size: 2rem;
     }
     .create_button span {
       font-size: 1.3rem;
     }
     .create_button:hover {
       cursor: pointer;
     } 

     .card_list_mashup {
      margin: auto;
      margin-top: 2rem;
      margin-bottom: 1rem;
      background-color: var(--bg-secondary);
      display: flex;
      flex-direction: column;
      width: 70%;
      border-radius: 9px;
      align-items: center;
      justify-content: space-evenly;
    }

    .card_list_mashup span {
      width: 100%;
      text-align: center;
      font-size: 1.7rem;
      border-bottom: 2px solid var(--text-secondary);
      color: var(--text-primary);
    }

    .card_list_mashup .contest_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid var(--extra);
      border-radius: 20px;
      width: 90%;
      margin-top: 1rem;
    }
    .contest_box span {
      font-size: 1.4rem;
      color: var(--extra);
    }
    .contest_box:last-child {
      margin-bottom: 1rem;
    }
    .contest_box .info_contest {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    .contest_box .info_contest p {
      font-size: 1.1rem;
      color: var(--text-secondary);
      margin-top: 0;
      margin-bottom: 0;
      padding: 6px;
    }
    .contest_box a {
      text-decoration: none;
      padding-bottom: 3px;
      font-size: 1.1rem;
      color: rgb(53, 226, 218);
      margin-top: 10px;
    }
    .contest_box .info_contest p strong {
      color: var(--extra);
    }
  /* close < 114 mashup page */
  
  /* --------------------------------------------------------- */
  
  /* open mashup form  */
  
  .card_list_form {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    width: 70%;
    border-radius: 9px;
    align-items: center;
    justify-content: space-evenly;
  
  }

  .card_list_form span {
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    border-bottom: 2px solid var(--text-secondary);
    color: var(--extra);
  }
  
  .card_list_form form label {
    display: block;
    text-align: center;
    font-size: 1.3rem;
    color: var(--text-secondary);
  }
  .card_list_form form label:first-child {
    margin-top: 1rem;
  }
  .card_list_form form input {
    min-width: 20ch;
    font-size: .90rem;
    display: block;
    margin: auto;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: var(--bg-secondary);
    border: 1px solid turquoise;
    color: var(--text-primary);
    padding: 8px;
    padding-left: 12px;
    border-radius: 10px;
  }
  .card_list_form form select {
    display: block;
    margin: auto;
    margin-top: 6px;
    margin-bottom: 6px;
    min-width: 30ch;
    border: 1px solid turquoise;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    font-size: .90rem;
    padding: 8px;
    border-radius: 10px;
  }

  .card_list_form form button {
    display: block;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 8px;
    font-size: .90rem;
    border-radius: 10px;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    border: 1px solid var(--extra);
    min-width: 23ch;
  }

  .card_list_form form button:hover {
    cursor: pointer;
  }
  /* error info on mashup form page */
  .link {
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
  }
  .link_info {
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
  }
  .link a{
    text-decoration: none;
    color: var(--extra);
    font-size: 1.3rem;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    background-color: var(--bg-secondary);
  }
  .link a:hover {
    cursor: pointer;
  }

  .link_info p {
    color: var(--text-secondary);
    font-size: 1.3rem;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    background-color: var(--bg-secondary);
    
  }

  

  /* close mashup form  */

  /* --------------------------------------------------------- */

  /* open > 116 main contest page */

     .main_contest_box {
      margin: auto;
      margin-top: 2rem;
      margin-bottom: 1rem;
      background-color: var(--bg-secondary);
      display: flex;
      flex-direction: column;
      width: 80%;
      border-radius: 9px;
      align-items: center;
      justify-content: space-evenly;
     }

     .main_contest_box .buttons {
       margin-top: 1rem;
       display: flex;
       flex-direction: row;
       width: 90%;
       height: 2rem;
       justify-content: flex-start;
       align-items: center;
       border-bottom: 2px solid var(--text-primary);
       padding-bottom: 3px;
     }
     .main_contest_box .buttons span {
       margin-left: 1rem;
       font-size: 1rem;
     }
     .main_contest_box .buttons span:hover {
       cursor: pointer;
     }

     .main_contest_box .problem_box {
       width: 88%;
       background-color: var(--bg-primary);
       padding: 10px;
       margin-top: 2rem;
       margin-bottom: 2rem;
       border-radius: 10px;
     }

     .main_contest_box .problem_box table {
       border: 1px solid var(--extra);
       border-collapse: collapse;
       width: 100%;
       margin: auto;
     }

     .main_contest_box .problem_box table th,td{
      border: 1px solid var(--extra);
      text-align: center;
      padding: 6px;
    }

    .main_contest_box .problem_box table th {
      color: var(--text-secondary);
    }

    .active_buttons {
      padding: 3px;
      background-color: var(--bg-primary);
      border-radius: 8px;
      padding-left: 12px;
      padding-right: 12px;
    }

    #timer {
      width: 80%;
      font-size: 1.2rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 4px;
      color: var(--text-primary);
      background-color: var(--bg-secondary);
      margin: auto;
      align-items: center;
      border-radius: 10px;
    }

    #timer p {
      padding: 5px;
      margin: 0;
    }

    #timer p:first-child {
      border-bottom: 1px solid var(--text-secondary);
      color: var(--text-secondary);
    }

    #timer p:last-child {
      color: var(--extra);
    }

    /* close < 116 main contest page */

  /* --------------------------------------------------------- */

  