 :root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
 }

 
  
  body {
    color: var(--text-primary);
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
  }
  main {
    min-height: 100vh;
    margin-left: 5rem;
    padding: 1rem;
  }
  /* open > 101 adding css to side scroll bar*/

  body::-webkit-scrollbar {
    width: 0.50rem;
  }
  
  body::-webkit-scrollbar-track {
    background: var(--bg-secondary);
  }
  
  body::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: var(--text-primary);
  }

  /* close < 101 adding css to side scroll bar*/

  /* open > 102 nav bar general styling */

  .navbar {
    position: fixed;
    background-color: var(--bg-secondary);
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar ul li {
      position: relative;
  }
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center;
  }

  .navbar ul li a {
      text-decoration: none;
      color: var(--text-primary);
      padding: 12px;
      padding-top: 17px;
      border-radius: 7px;
  }

  .navbar ul li a:hover {
    background-color: var(--bg-primary);
    color: var(--text-secondary);
  }

  /* close < 102 nav bar general styling */
  
  /* open > 103 homepage styles */
  
  .banner {
    margin: auto;
    margin-top: 0.50rem;
    width: 70%;
    height: 400px;
    background-color: var(--bg-secondary);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
  }
  .theme_counter {
    margin: auto;
    margin-top: 1.5rem;
    width: 70%;
    height: 100px;
    background-color: var(--bg-secondary);
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--text-primary);
  }
  .theme_counter i {
    background-color: var(--text-primary);
    color: var(--bg-secondary);
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
  }
  .theme_counter span {
    font-size: 1.5rem;
    font-weight: 600;
  }
  #count {
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    background-color: var(--text-primary);
    color: var(--bg-secondary);
  }
  .banner span {
    font-size: 4rem;
    font-weight: bolder;
  }

  #site-name {
    font-family: 'Roboto Slab', serif;
    color: var(--bg-secondary);
    background-color: var(--text-primary);
    padding: 8px;
    border-radius: 1rem;
  }
  /* close < 103 homepage styles */
    
  /* open > 104 tooltip styling */
  .navbar ul li .tooltip {
      position: absolute;
      height: 3rem;
      width: 6.5rem;
      left: 4rem;
      top: 0;
      transform: translateY(-50%);
      line-height: 50px;
      text-align: center;
      border-radius: 6px;
      transition: 0s;
      opacity: 0;
      pointer-events: none;
      font-weight: 400;
  }

  .navbar ul li .tooltip {
      display: block;
  }

  .navbar ul li:hover .tooltip {
      transition: 0.3s;
      opacity: 1;
      top: 50%;
      background-color: var(--text-primary);
      color: var(--bg-secondary);
  }

  /* close < 104 tooltip styling */
  

  /* open > 105  snippet filter_bar */
   
  .filter_bar {
    width: 70%;
    height: 60px;
    background-color: var(--bg-secondary);
    margin: auto;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid var(--text-secondary);
  }

  .filter_bar span {
    padding : 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px;
  }

  .filter_bar span:hover { 
    cursor: pointer;
  }

  /* closse < 105  snippet filter_bar */

  /* open > 106  snippet card_list_general */
  
  .card_list_general {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    width: 70%;
    border-radius: 9px;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid var(--text-secondary);
  }
  .card_list_general span {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    border-bottom: 2px solid var(--text-secondary);
  }
  
  .card_list_general a {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-secondary);
    margin: .75rem;
    border-radius: 7px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .card_list_general a:hover {
    background-color: var(--bg-primary);
  }
  .card_list_general a:last-child {
    margin-bottom: 2rem;
  }
  
  
  /* close < 106  snippet card_list_general */


  /* open > 107 theme management  */

  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #626264;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f8e1a3;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }

  /* close < 107 theme management  */

  
  /* open > 108  snippet card_list_buzz */
  
  .card_list_buzz {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    width: 70%;
    border-radius: 9px;
    border: 2px solid var(--text-secondary);
  
  }

  .card_list_buzz p{
    font-size: 1.1rem;
    padding: 1rem;
  }

  /* closed < 108  snippet card_list_buzz */

  /* open > 109  snippet card_list_stl */

  .card_list_stl {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    width: 70%;
    border-radius: 9px;
    border: 2px solid var(--text-secondary);
  }

  .card_list_stl .heading{
    font-size: 2rem;
    border-bottom: 2px solid var(--text-secondary);
    display: block;
    text-align: center;
  }
  .card_list_stl_content {
    margin: auto;
    padding-bottom: 2rem;
    width: 90%;
  }
  .card_list_stl_content .stl_function {
    font-size: 1rem;
    width: 99%;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: var(--bg-primary);
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 8px;
    padding:5px;
    
  }
  .card_list_stl_content .stl_function .highlight {
    background-color: var(--bg-secondary);
    padding: 4px;
    border-radius: 6px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: 500;
  }
  /* closed < 109  snippet card_list_stl */


  .active {
    background-color: var(--bg-primary);
    border: 2px solid var(--text-secondary);
  }
  
  .notshow {
    display: none;
  }